<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="head">
        <link th:href="@{https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <script th:src="@{https://cdn.bootcss.com/font-awesome/5.13.0/js/all.js}"></script>
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>
    </th:block>

</html>